<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xxxifan.devbox.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.view.main.TestFragmentActivity">
        </activity>
        <activity android:name=".ui.view.main.NewMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.main.TestTranslucentActivity"
            android:label="Transparent" />
        <activity android:name=".ui.view.main.TestDrawerActivity" />
        <activity android:name=".ui.view.main.TestImageTranslucent" />
        <activity android:name=".ui.view.main.CrashActivity" />
        <activity android:name=".ui.view.main.RecyclerActivity" />
        <activity android:name=".ui.view.main.MvpActivity" />
        <activity android:name=".ui.view.main.ColorBarActivity" android:label="color bar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>